Repository ordzaar/ord-connect, pull requests merged in 2023-10, with the labels that each got.

#104 bump(deps): update ordit-sdk 2.0.10
  packages/ord-connect/package.json
  packages/ord-connect/src/hooks/useBalance.tsx
  pnpm-lock.yaml
Labels: kind/dependencies

#105 fix(sdk): fix for relay
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/lib/CustomJsonRPCDatasource.ts
Labels: kind/fix

#106 fix(sdk): bypass relay fix for mainnet
  packages/ord-connect/src/lib/CustomJsonRPCDatasource.ts
Labels: kind/fix

#107 feat(sdk): remove customjsonrpc
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/lib/CustomJsonRPCDatasource.ts
Labels: kind/feature

#108 bump(deps): update ordit-sdk 2.1.1
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#111 chore(ops): bump ordit-sdk to 2.2.3
  package.json
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/chore

#109 feat(mobile): Mobile support
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/style.css
  packages/ord-connect/src/main.tsx
  packages/ord-connect/src/utils/constant.ts
  packages/ord-connect/src/utils/mobile-detector.ts
Labels: kind/feature

#116 fix(ux): prevent unisat modal from opening on every page load
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/fix
