Repository ordzaar/ord-connect, pull requests merged in 2023-09, with the labels that each got.

#77 feature(wallet): Xverse support
  packages/sado-connect/package.json
  packages/sado-connect/src/components/PostConnectButton/index.tsx
  packages/sado-connect/src/components/SadoConnectKit.tsx
  packages/sado-connect/src/components/SelectWalletModal/index.tsx
  packages/sado-connect/src/hooks/useBalance.tsx
  packages/sado-connect/src/hooks/useSend.tsx
  packages/sado-connect/src/hooks/useSign.tsx
  packages/sado-connect/src/index.ts
  packages/sado-connect/src/lib/signPsbt.ts
  packages/sado-connect/src/main.tsx
  packages/sado-connect/src/providers/SadoContext.tsx
Labels: kind/feature

#78 fix(SadoContext): replace SessionStorage with LocalStorage
  packages/sado-connect/src/providers/SadoContext.tsx
Labels: kind/fix

#79 fix(SadoContext): add sado-connect_ prefix to all keys
  packages/sado-connect/src/providers/SadoContext.tsx
Labels: kind/fix

#80 chore(ops): update deps
  package.json
  packages/sado-connect/package.json
  pnpm-lock.yaml
Labels: kind/chore

#81 feature(ops): rename to ord-connect
  .github/workflows/publish.yml
  .gitignore
  README.md
  package.json
  packages/ord-connect/.eslintignore
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/.gitignore
  packages/ord-connect/index.d.ts
  packages/ord-connect/index.html
  packages/ord-connect/package.json
  packages/ord-connect/public/images/sado_icon.png
  packages/ord-connect/src/assets/chevron-down.svg
  packages/ord-connect/src/assets/chevron-right.svg
  packages/ord-connect/src/assets/close-modal.svg
  packages/ord-connect/src/assets/loading.svg
  packages/ord-connect/src/assets/logout.svg
  packages/ord-connect/src/assets/unisat-wallet.svg
  packages/ord-connect/src/assets/xverse-wallet.svg
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/PostConnectButton/style.css
  packages/ord-connect/src/components/PreConnectButton/index.tsx
  packages/ord-connect/src/components/PreConnectButton/style.css
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/style.css
  packages/ord-connect/src/components/style.css
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/hooks/useSign.tsx
  packages/ord-connect/src/index.ts
  packages/ord-connect/src/lib/signPsbt.ts
  packages/ord-connect/src/main.tsx
  packages/ord-connect/src/providers/OrdContext.tsx
  packages/ord-connect/src/style.css
  packages/ord-connect/src/types.d.ts
  packages/ord-connect/src/types/OrditSdk.ts
  packages/ord-connect/src/utils/constant.ts
  packages/ord-connect/src/utils/promise-with-timeout.ts
  packages/ord-connect/src/utils/text-helper.ts
  packages/ord-connect/src/vite-env.d.ts
  packages/ord-connect/tsconfig.json
  packages/ord-connect/tsconfig.node.json
  packages/ord-connect/vite.config.ts
  packages/sado-connect/src/index.ts
  pnpm-lock.yaml
  preview.png
Labels: kind/feature

#83 bump(deps): bump ordit-sdk 1.0.3
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#85 fix(ui-ux): use fetch unspents
  packages/ord-connect/src/hooks/useBalance.tsx
Labels: kind/fix

#93 chore(sdk): upgrade ordit-sdk 2.0.2
  packages/ord-connect/package.json
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/main.tsx
  pnpm-lock.yaml
Labels: kind/chore

#96 bump(deps): update ordit-sdk 2.0.3
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#98 bump(deps): update ordit-sdk 2.0.4
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#99 bump(deps): update ordit-sdk 2.0.5
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#100 bump(deps): update ordit-sdk 2.0.6
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#101 bump(deps): update ordit-sdk 2.0.7
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#102 fix(ordit-sdk): use datasource ordit-sdk 2.0
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useSend.tsx
Labels: kind/fix
