Repository ordzaar/ord-connect, pull requests merged in 2023-11, with the labels that each got.

#119 feat(useSignMessage): add useSignMessage hook to sign message
  packages/ord-connect/src/hooks/useSignMessage.tsx
  packages/ord-connect/src/lib/signMessage.ts
  packages/ord-connect/src/main.tsx
Labels: kind/feature

#121 fix(useSignMessage): export useSignMessage hook
  packages/ord-connect/src/index.ts
Labels: kind/fix

#122 chore(ui-ux): hide unisat in non desktop - till supported
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/style.css
Labels: kind/chore

#128 chore(ops): move to ordzaar standard
  .github/renovate.json
  package.json
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/package.json
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/hooks/useSign.tsx
  packages/ord-connect/src/hooks/useSignMessage.tsx
  packages/ord-connect/src/index.ts
  packages/ord-connect/src/lib/signMessage.ts
  packages/ord-connect/src/lib/signPsbt.ts
  packages/ord-connect/src/main.tsx
  packages/ord-connect/src/providers/OrdContext.tsx
  pnpm-lock.yaml
Labels: kind/chore

#123 chore(fix): fix on hover border radius for first child button
  packages/ord-connect/src/components/SelectWalletModal/style.css
Labels: kind/chore

#131 chore(signMessage): bump ordit to cater for bip-322-simple
  packages/ord-connect/src/lib/signMessage.ts
  packages/ord-connect/src/main.tsx
Labels: kind/chore

#135 feature(sats): remove usage of unsafe send
  README.md
  package.json
  packages/ord-connect/package.json
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/main.tsx
  packages/ord-connect/src/providers/OrdContext.tsx
  pnpm-lock.yaml
Labels: kind/feature

#136 chore(ops): remove umd for builds
  packages/ord-connect/package.json
  packages/ord-connect/vite.config.ts
  pnpm-lock.yaml
Labels: kind/chore

#138 feat(OrdContext): update OrdContext to set the localStorage first before setting the state
  packages/ord-connect/src/providers/OrdContext.tsx
Labels: kind/feature

#145 feat(ordit-sdk): migrate sadoprotocol/ordit-sdk to ordzaar/ordit-sdk
  README.md
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/package.json
  packages/ord-connect/src/SampleApp.tsx
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/PreConnectButton/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/hooks/useSign.tsx
  packages/ord-connect/src/hooks/useSignMessage.tsx
  packages/ord-connect/src/index.ts
  packages/ord-connect/src/lib/signMessage.ts
  packages/ord-connect/src/lib/signPsbt.ts
  packages/ord-connect/src/main.tsx
  packages/ord-connect/src/providers/OrdContext.tsx
  packages/ord-connect/src/style.css
  packages/ord-connect/tsconfig.eslint.json
  packages/ord-connect/vite.config.ts
  pnpm-lock.yaml
Labels: kind/feature

#150 fix(select-wallet): error message
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/utils/constant.ts
Labels: kind/fix

#151 fix(select-wallet): message while refactoring
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/fix

#153 fix(select-wallet): fix error message handling
  packages/ord-connect/package.json
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  pnpm-lock.yaml
Labels: kind/fix

#154 fix(exports): export types
  packages/ord-connect/src/index.ts
Labels: kind/fix

#156 fix(local-storage): disconnect wallet properly
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/hooks/useLocalStorage.ts
  packages/ord-connect/src/providers/OrdContext.tsx
Labels: kind/fix

#160 chore(ops): update to vite 5
  .nvmrc
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/chore

#169 fix(sign): error message, update ordit-sdk
  packages/ord-connect/package.json
  packages/ord-connect/src/SampleApp.tsx
  packages/ord-connect/src/hooks/useSign.tsx
  packages/ord-connect/src/hooks/useSignMessage.tsx
  packages/ord-connect/src/lib/signPsbt.ts
  pnpm-lock.yaml
Labels: kind/fix

#170 fix(unisat): memory leak and disconnect wallet on error
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/fix

#174 fix(unisat): wait for extension to load
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/types.d.ts
  packages/ord-connect/src/utils/unisat.ts
Labels: kind/fix

#177 fix(unisat): incorrect optimisation when checking extension loaded
  packages/ord-connect/src/utils/unisat.ts
Labels: kind/fix
