Repository ordzaar/ord-connect, pull requests merged in 2023-12, with the labels that each got.

#176 fix(ord-connect): scope font
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/PreConnectButton/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/components/style.css
Labels: kind/fix

#179 bump(deps): update deps
  package.json
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/dependencies

#187 feat(ord-connect): add change wallet button, enable strict types
  packages/ord-connect/src/SampleApp.tsx
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/PostConnectButton/style.css
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/style.css
  packages/ord-connect/src/hooks/useBalance.tsx
  packages/ord-connect/src/hooks/useLocalStorage.ts
  packages/ord-connect/src/hooks/useSend.tsx
  packages/ord-connect/src/hooks/useSign.tsx
  packages/ord-connect/src/hooks/useSignMessage.tsx
  packages/ord-connect/src/index.ts
  packages/ord-connect/src/lib/signMessage.ts
  packages/ord-connect/src/lib/signPsbt.ts
  packages/ord-connect/src/providers/OrdConnectProvider.tsx
  packages/ord-connect/src/utils/mobile-detector.ts
  packages/ord-connect/src/utils/promise-with-timeout.ts
  packages/ord-connect/src/utils/text-helper.ts
  packages/ord-connect/tsconfig.json
  packages/ord-connect/tsconfig.node.json
Labels: kind/feature

#188 chore(ops): update
  package.json
  packages/ord-connect/.eslintrc.cjs
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/chore
