Repository ordzaar/ord-connect, pull requests merged in 2024-01, with the labels that each got.

#189 fix(unisat): leaking listener
  packages/ord-connect/src/SampleApp.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/fix

#193 bump(deps): update dependency @ordzaar/ordit-sdk to v1.2.0
  packages/ord-connect/package.json
  packages/ord-connect/src/hooks/useBalance.tsx
  pnpm-lock.yaml
Labels: kind/dependencies

#200 fix(build): ensure external deps are not bundled
  packages/ord-connect/vite.config.ts
Labels: kind/fix

#201 fix(unisat): ensure address change listener is added
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/fix

#202 feat(ord-connect): add renderAvatar
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PostConnectButton/index.tsx
  packages/ord-connect/src/components/SelectWalletModal/WalletButton.tsx
  packages/ord-connect/src/components/SelectWalletModal/index.tsx
Labels: kind/feature

#203 feature(send): add new param to control relay logic
  packages/ord-connect/src/hooks/useSend.tsx
Labels: kind/feature
