Repository ordzaar/ord-connect, pull requests merged in 2024-07, with the labels that each got.

#312 feat(useSendV2): set rbf default to false
  packages/ord-connect/src/hooks/useSendV2.tsx
Labels: kind/feature

#319 feature(sign): enabled inputs with addresses to sign
  packages/ord-connect/package.json
  packages/ord-connect/src/lib/signPsbt.ts
  pnpm-lock.yaml
Labels: kind/feature

#330 chore(deps): ordit sdk 1.7.1
  packages/ord-connect/package.json
  pnpm-lock.yaml
Labels: kind/chore

#328 fix(type): export wallet enum
  packages/ord-connect/src/index.ts
Labels: kind/fix

#333 fix(export): export wallet enum
  packages/ord-connect/src/index.ts
Labels: kind/fix

#339 fix(ssr): ux
  packages/ord-connect/src/components/OrdConnectKit.tsx
  packages/ord-connect/src/components/PreConnectButton/index.tsx
  packages/ord-connect/src/components/PreConnectButton/style.css
  packages/ord-connect/src/hooks/useLocalStorage.ts
  packages/ord-connect/src/providers/OrdConnectProvider.tsx
  preview_wallets.png
Labels: kind/fix

#340 fix(ssr): missing param
  packages/ord-connect/src/providers/OrdConnectProvider.tsx
Labels: kind/fix
